{% extends "layout.html" %}
{% block content %}


<h2>Emergency Contacts</h2>
<table class="table">
        <thead>
        <tr>
                <th scope="col">Contact Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Relation to Employee</th>
                <th scope="col">Employee Name</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in emergency_contacts %}
                <tr>
                        <td>{{contact.ContactName}}</td>
                        <td>{{contact.PhoneNumber}}</td>
                        <td>{{contact.Relation}}</td>
                        <td>{{contact.Fname}} {{contact.Lname}}</td>
                        
                </tr>
                
        {% endfor %}
        </tbody>
</table>
<a href="{{ url_for('add_emergency_contact') }}" class="btn btn-primary">Add Contact</a>
<a href="{{ url_for('delete_emergency_contact') }}" class="btn btn-primary" style="float:right">Delete Contact</a>




{% endblock content %}