{% extends "layout.html" %}
{% block content %}

<form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        </fieldset>

        <div class="form-row">

                <!-- Employee Dropdown  -->
                <div class="form-group col-md-3">
                        {{ form.employee_filter.label(class="form-control-label") }}
                  
                        {% if form.employee_filter.errors %}
                        {{ form.employee_filter(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.employee_filter.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.employee_filter(class="form-control form-control-sm") }}
                        {% endif %}
                </div>
        
                <div class="form-group col-md-3">
                        {{ form.payroll_date_range.label(class="form-control-label") }}
                  
                        {% if form.payroll_date_range.errors %}
                        {{ form.payroll_date_range(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.payroll_date_range.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.payroll_date_range(class="form-control form-control-sm") }}
                        {% endif %}
                </div>
                
        </div>
        <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
        </div>

</form>

<form method="POST" action="">
        {{ generate_pay_stub_form.hidden_tag() }}
        <fieldset class="form-group">
        </fieldset>

        <div class="form-row">

                <!-- Employee Dropdown  -->
                <div class="form-group col-md-3">
                        {{ generate_pay_stub_form.employee_filter_pay_stub.label(class="form-control-label") }}
                  
                        {% if generate_pay_stub_form.employee_filter_pay_stub.errors %}
                        {{ generate_pay_stub_form.employee_filter_pay_stub(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in generate_pay_stub_form.employee_filter_pay_stub.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ generate_pay_stub_form.employee_filter_pay_stub(class="form-control form-control-sm") }}
                        {% endif %}
                </div>

                <div class="form-group col-md-3">
                        {{ generate_pay_stub_form.start_date.label(class="form-control-label") }}
                  
                        {% if generate_pay_stub_form.start_date.errors %}
                        {{ generate_pay_stub_form.start_date(class="form-control form-control-sm is-invalid") }} 
                        <div class="invalid-feedback">
                          {% for error in generate_pay_stub_form.start_date.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ generate_pay_stub_form.start_date(class="form-control form-control-sm") }}
                        {% endif %}
                </div>

                <div class="form-group col-md-3">
                        {{ generate_pay_stub_form.end_date.label(class="form-control-label") }}
                  
                        {% if generate_pay_stub_form.end_date.errors %}
                        {{ generate_pay_stub_form.end_date(class="form-control form-control-sm is-invalid") }} 
                        <div class="invalid-feedback">
                          {% for error in generate_pay_stub_form.end_date.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ generate_pay_stub_form.end_date(class="form-control form-control-sm") }}
                        {% endif %}
                </div>
        </div>
        <div class="form-group">
                {{ generate_pay_stub_form.generate_pay_stub(class="btn btn-outline-info") }}
        </div>

</form>

{% endblock content %}