{% extends "layout.html" %}
{% block content %}

<form method="POST" action="" >
        {{ form_display_stubs.hidden_tag() }}
        <fieldset class="form-group">
        </fieldset>

        <div class="form-row">

                <!-- Employee Dropdown  -->
                <div class="form-group col-md-3">
                        {{ form_display_stubs.employee_filter.label(class="form-control-label") }}
                  
                        {% if form_display_stubs.employee_filter.errors %}
                        {{ form_display_stubs.employee_filter(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form_display_stubs.employee_filter.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form_display_stubs.employee_filter(class="form-control form-control-sm") }}
                        {% endif %}
                </div>
        
                <div class="form-group col-md-3">
                        {{ form_display_stubs.payroll_date_range.label(class="form-control-label") }}
                  
                        {% if form_display_stubs.payroll_date_range.errors %}
                        {{ form_display_stubs.payroll_date_range(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form_display_stubs.payroll_date_range.errors %}
                          <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form_display_stubs.payroll_date_range(class="form-control form-control-sm") }}
                        {% endif %}
                </div>
                
        </div>
        <div class="form-group">
                {{ form_display_stubs.display_pay_stubs(class="btn btn-outline-info") }}
        </div>

</form>

<form method="POST" action="" >
        {{ form_generate_stubs.hidden_tag() }}
        <fieldset class="form-group">
        </fieldset>

        
        <div class="form-group">
                {{ form_generate_stubs.generate_pay_stubs(class="btn btn-outline-info") }}
        </div>
                
        
        

</form>

{% endblock content %}