{% extends "layout.html" %}
{% block content %}
<div class="row">
  
  <div class="col-sm-4">
    <div class="card">
      <img src="..\static/money.jfif" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Payroll</h5>
          <p class="card-text">Displays payroll information for each employee</p>
        <a href="{{ url_for('payroll_pages.payroll') }}" class="btn btn-primary">View Pay Stubs </a>
      </div>
    </div>
  </div>

  
</div>


{% endblock content %}



