{% extends "layout.html" %}
{% block content %}

<div class = "row">
  <div class="col-sm-4">
    <div class="card">
      <img src="..\static/time.jfif" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Employee Time Cards </h5>
          <p class="card-text"> To view time cards of an employee, click button below. </p>
        <a href="{{ url_for('shift_pages.timecard') }}" class="btn btn-primary"> view Employee Time Cards</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4" >
    <div class="card">
      <img src="..\static/time1.jfif" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Add Time Card </h5>
          <p class="card-text"> To add time cards, click button below. Then fill out the form. </p>
        <a href="{{ url_for('shift_pages.add_shift') }}" class="btn btn-primary"> Add Shift</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
